/* --BEGIN RESET--
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END RESET*/

/*BEGIN DEFAULT WIDTH*/

body{
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
	color: rgb(40,40,40);

}

h1 {
	font-size:2.2em;
	color:rgb(250,250,250);
	font-family: 'Cantora One', sans-serif;
}

h2 {
	font-size:1.3em;
	color:rgb(250,250,250);
	font-family: 'Oxygen', sans-serif;
	font-weight:300;
}

h3{
	font-family:'Cantora One', sans-serif;
	font-size:1.7em;
	color:white;
}

a:link, a:visited, a:active {
	text-decoration:none;
	color:rgb(230,230,60);
}

a:hover {
	
}

.headerContainer a:link, .headerContainer a:visited, .headerContainer a:active {
	text-decoration:none;
	color:rgb(240,250,250);
}

.headerContainer a:hover {
	text-decoration:none;
	text-shadow:.09em .09em 0 rgb(10,180,100), .18em .18em 0 rgba(240,250,250,.5); 
	color:rgb(240,250,250);
}

.portalContainer{
	width:50%;
	min-width:320px;
	max-width:600px;
	text-align:center;
	margin:auto;
	background-color:rgb(10,180,100);
	border-radius:8px;
	margin-top:20px;
	padding:20px;
}

.loginErrorWarning{
	color:rgb(200,30,30);
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
	font-size:.83em;
	width:100%;
	text-align:center;
	margin:auto;
	margin-top:4px;
	margin-bottom:10px;
}

.alternatePortalLink{
	margin-top:30px;
	color:rgb(250,250,250);
	
}

.tagline{
	margin-top:10px;
	margin-bottom:30px;
	color:rgb(240,250,250);
	
}

.portalContainer form{
	margin:auto;
	width:60%;
	max-width:300px;
	min-width:140px;
	display:block;
	padding:2px;
	text-align:left;
	color:white;
	opacity:.8;
	font-family: 'Oxygen', sans-serif;
	font-weight:300;
	font-size:.9em;
}

.portalContainer input{
	width:100%;
	padding:5px;
	padding-left:10px;
	margin-bottom:12px;
	font-size:1.2em;
	font-family: 'Oxygen', sans-serif;
	font-weight:400;
	color:rgb(50,50,50);
	border-radius:6px;
	letter-spacing: .17em;
	
}

.portalSubmit{
	text-align:center;
	width:20%;
	min-width:50px;
	max-width:200px;
	margin:auto;
	margin-left:20px;
}

.headerContainer{
	margin-bottom:30px;
	z-index:999;
	width:94%;
	paddin-bottom:10px;
	background-color:rgb(10,180,100);
	margin:auto;
	padding-left:3%;
	padding-right:3%;
	padding-top:8px;
	padding-bottom:10px;
}

.logo{
	position:relative;
	color:rgb(240,240,240);
}

.welcome {
	margin-top:4px;
	color:white;
	opacity:.8;
	font-weight:300;
}

.menuLinks {
	margin-top:20px;
	margin-right:18px;
	font-size: .85em;
	text-decoration:none;
}

#menuLinksContainer{
	display:inline-block;
	width:100%;
	text-align:right;
	margin-top:0px;
}

.footer{
	margin:auto;
	margin-top:50px;
	width:94%;
	padding:3%;
	color:rgb(180,180,180);
	background-color:rgb(90,90,90);
	text-align:right;
}
/*HOME PAGE CONTENT*/

.bodyContainer{
	width:90%;
	max-width:800px;
	margin:auto;
	padding-left:5%;
	padding-right:5%;
	padding-top:20px;
}

.storySnippet{
	width:100%;
	display:block;
	border-top: double 1px rgb(235,235,235);
	padding-bottom:32px;
	padding-top:14px;
}

.storyTitle{
	font-family: 'Cantora One', sans-serif;
	font-size:2.1em;
	color:rgb(90,90,90);
	text-shadow:.06em .06em 0 rgba(50,50,50,.2);
	padding-bottom:9px;
}

.storyAuthor{
	font-family:'Oxygen', sans-serif;
	display:inline;
	font-size:.86em;
	font-weight: 700;
	color:rgb(90,90,90);
	margin-right:7px;
}
.storyTime{
	font-family:'Oxygen', sans-serif;
	display:inline;
	font-size:.86em;
	font-weight: 700;
	color:rgba(90,90,90,.4);
}
.storyBody{
	font-family:'Oxygen', sans-serif;
	margin-top:13px;
	font-size:1.18em;
	font-weight: 400;
	color:rgb(90,90,90);
	line-height: 1.8em;
}

.editdelete{
	display: inline;
	font-size:.8em;
	margin-left:3px;
}


.commentWrap{
	width:90%;
	margin:auto;
	display:block;
	border-top: double 1px rgb(235,235,235);
	padding-bottom:8px;
	padding-top:5px;
}
.commentAuthor{
	font-family:'Oxygen', sans-serif;
	display:inline;
	font-size:.82em;
	font-weight: 700;
	color:rgb(90,90,90);
	margin-right:7px;
}
.commentTime{
	font-family:'Oxygen', sans-serif;
	display:inline;
	font-weight: 700;
	font-size:.82em;
	color:rgba(90,90,90,.4);
}
.commentComment{
	font-family:'Oxygen', sans-serif;
	font-size:1.08em;
	padding-top:2px;
	padding-bottom:8px;
	font-weight: 400;
	color:rgb(90,90,90);
	line-height: 1.8em;
}

#newcomment{
	width:90%;
	margin:auto;
	text-align:right;
}
#newcomment textarea{
	text-align:left;
	padding:2%;
	width:96%;
	font-size: 1.3em;
	font-family: 'Oxygen', sans-serif;
	line-height: 1.7em;
}

.newPostLabel, #editStory{
	width:100%;
	font-family:'Cantora One', sans-serif;
	display:inline;
	font-size:1.42em;
	font-weight: 700;
	color:rgb(90,90,90);
	margin-right:7px;
}
#newStoryContainer, .editStoryWrap{
	width:100%;
	text-align:right;
}


.newPostForm{
	width:100%;
	margin:auto;
}

.newpostarea, {
	width:100%;
	margin:auto;
	font-family: 'Oxygen', sans-serif;
	font-size:1.4em;
	padding-top:4px;
	padding-bottom:6px;
	padding-left:8px;
	padding-right:8px;
	margin-top:8px;
}

.newPostForm textarea{
	width:100%;
	margin:auto;
	font-family: 'Oxygen', sans-serif;
	line-height: 1.4em;
	font-size: .95em;
	margin-top:10px;
	height:200px;
}

.editStoryForm, editCommentForm{
	width:100%;
	
}



.right{
	text-align:right;
}

.editStoryForm textarea{
	width:100%;
	margin:auto;
	font-family: 'Oxygen', sans-serif;
	line-height: 1.4em;
	font-size: .95em;
	margin-top:10px;
	height:200px;
}

.editCommentForm textarea{
	width:100%;
	margin:auto;
	font-family: 'Oxygen', sans-serif;
	line-height: 1.4em;
	font-size: .95em;
	margin-top:10px;
	height:200px;
}



/* END DEFAULT WIDTH*/

/*BEGIN BREAKPOINT 1*/

@media only screen and (min-width: 650px) {
	
h1{
	font-size:2.7em;
}

.portalContainer{
	margin-top:40px;
}

}


/* END WIDTH 1 */

/*BEGIN WIDTH 2*/

@media only screen and (min-width: 850px) {
	
h1{
	font-size:3.3em;
}

.portalContainer{
	margin-top:60px;
}


}

